{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/addsolution.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
</head>
<body>
    <h1>{{title}}</h1>

    <form method="post">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <button type="submit">Сохранить</button>
    </form>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/addsolution.js' %}"></script>
</body>
</html>